.flex-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
  
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  
  .column, .main-content {
    overflow-y: auto;
    height: 100vh;
  
    @media (max-width: 768px) {
      height: auto;
      flex: 0 0 auto;
    }
  }