.flex-container {
	display: flex;
}

.column,
.main-content {
}

ion-menu {
	--width: var(--menu-width, 80%);
}

ion-list {
	padding: 0;
}

ion-footer {
	box-shadow: none;
}

.ion-footer-mobile-padding {
	padding: 0.25rem;
}

ion-app {
}

/* Ensure ion-content fills the full height */
ion-content {
	--padding-top: 0;
	--padding-bottom: 0;
	--padding-start: 0;
	--padding-end: 0;
}

ion-menu,
ion-footer {
	height: auto; /* Ensure they do not override height settings */
}
