.flex-container {
	display: flex;
	max-height: 100%;
	overflow: hidden;
}

.column,
.main-content {
	overflow-y: auto;
	height: 100%;
}

ion-menu {
	--width: var(--menu-width, 80%);
}

ion-list {
	padding: 0;
}

ion-footer {
	box-shadow: none;
}

.ion-footer-mobile-padding {
	padding: 0.25rem;
}

ion-app {
	height: 100%;
}

/* Ensure ion-content fills the full height */
ion-content {
	--padding-top: 0;
	--padding-bottom: 0;
	--padding-start: 0;
	--padding-end: 0;
}
