.flex-container {
	display: flex;
	height: 100%;
	overflow: visible;
}

.column,
.main-content {
	overflow-y: auto;
	height: 100%;
}

ion-menu {
	--width: var(--menu-width, 80%);
}

ion-list {
	padding: 0;
}
