.flex-container {
	display: flex;
	height: calc(100vh - constant(safe-area-inset-bottom));
	overflow: visible;
}

.column,
.main-content {
	overflow-y: auto;
	height: calc(100vh - constant(safe-area-inset-bottom));
}

ion-menu {
	--width: var(--menu-width, 80%);
}

ion-list {
	padding: 0;
}
