.chat-user-icon {
	height: 1.5rem;
	width: 1.5rem;
}

.small-icon {
	width: 1rem;
	height: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
	cursor: pointer;
	transition:
		transform 0.2s ease,
		color 0.2s ease;
	margin-left: 3px;
}

.small-icon:hover {
	color: #4caf50;
}

.small-icon:active {
	transform: scale(1.1);
	color: #4caf50;
}

.message-footer {
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}
