.chat-user-icon {
	height: 2.5rem;
	width: 2.5rem;
	position: relative;
	top: 0.0625rem;
}

.left-column {
	flex-shrink: 0;
	width: 3.5rem;
}

.time {
	margin-left: 0.25rem;
	color: #999;
}

.small-icon {
	width: 1rem;
	height: 1rem;
	position: relative;
	top: 0.125rem;

	margin-left: 0.5rem;
	margin-right: 0.5rem;
	cursor: pointer;
	transition:
		transform 0.2s ease,
		color 0.2s ease;

	margin-left: 0px;
}

.small-icon:hover {
	color: #4caf50;
}

.small-icon:active {
	transform: scale(1.1);
	color: #4caf50;
}

.message-footer {
	visibility: hidden;
}

.message-block {
	padding-top: 0.25rem;
}

.message-block:hover .message-footer {
	visibility: visible;
}

.message-block:hover {
	background: #f4f4f4;
	border-radius: 0.5rem;
}
